<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="googleKey" value="ENTER_YOUR_GOOGLE_MAPS_API_KEY_HERE" />
    <add key="origin" value="43.0016783,-88.2544177"/>
    <add key="destination" value="43.0373866,-87.910782"/>
  </appSettings>
</configuration>
<!--
  Add your private key and rename this file App.config
-->